html {
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: "Open sans", Arial;
}
a {
  cursor: pointer;
}
#hero {
  /*background: rgba(0,0,0,.5);*/
  background: url("../img/hero-img.jpg");
  padding: 190px 0 180px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom bottom;
  position: relative;

  /*margin-top: -60px;*/
  z-index: 1;
}
#hero:before {
  /*background: rgba(0,0,0,.5);*/
  content: '';
  background: linear-gradient(200deg, rgba(0, 0, 0, .0), rgba(0, 0, 0, 1));
  position: absolute;
  /*opacity: .85;*/
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#hero h1 {
  font-size: 50px;
  line-height: 1.3;
  width: 60%;
}
#hero h3 {
  margin: 20px auto;
}
#hero h1, #hero h3 {
  color: white;
  font-weight: 400;
  text-shadow: 0px 1px 1px black;
}
#hero a, #access a {
  display: inline-block;
  background: rgba(18, 115, 188, 1);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
}
#hero a.demo-btn, #access a.demo-btn-2 {
  position: absolute;
  z-index: 1;
}
#access a.demo-btn-2 {
  top: 44px;
}
#hero .demo-btn.inactive, #access .demo-btn-2.inactive {
  -webkit-animation: fadeOutRight 1s;
  animation: fadeOutRight 1s;
  z-index: -20;
}
.no-display {
  display: none!important;
  /*opacity: 0;*/
}
#hero .signup-input, #access .signup-input-2 {
  height: 45px;
  text-indent: 15px;
  width: 45%;
  left: 0;
  margin-top: 5px;
  padding-top: 3px;
  border: 1px solid white;
  border-radius: 2px;
}
#hero .signup-anim {
  -webkit-animation: fadeInUp 1s;
  animation: fadeInUp 1s;
}
#access .signup-input-2 {
  margin: 15px auto;
  width: 60%;
}
.signup-input::-webkit-input-placeholder, .signup-input-2::-webkit-input-placeholder {
  color: #343434;
}
.signup-input:-moz-placeholder, .signup-input-2:-moz-placeholder {
  /* Firefox 18- */
  color: #343434;
}
.signup-input::-moz-placeholder, .signup-input-2::-moz-placeholder {
  /* Firefox 19+ */
  color: #343434;
}
.signup-input:-ms-input-placeholder, .signup-input-2:-ms-input-placeholder {
  color: #343434;
}
#access input#saveForm.signup-btn {
  margin: 25px auto 0 auto;
}
#hero .active input.signup-btn, .active input.signup-btn-2 {
  /*border-top-left-radius: 0;*/
  /*border-bottom-left-radius: 0;*/
  /*margin-left: -5px;*/
}
.signup-input, .signup-input-2, .signup-btn, .signup-btn-2 {
  opacity: 0;
  display: none;
}
.active .signup-input, .active .signup-btn, .active .signup-input-2, .active .signup-btn-2 {
  animation: fadeInLeft .5s!important;
  opacity: 1;
  display: block;
}
#access h2 {
  font-weight: 400;
  margin-top: 0;
  padding-top: 0;
}
section.bots {
  /*background: rgba(18, 115, 188, 1);*/
  background: linear-gradient(180deg, blue, rgba(18, 115, 188, .65));
  padding: 70px 0;
  position: relative;
}
section.bots h2, section.bots h5 {
  color: white;
}
section.bots h2 {
  color: white;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 40px;
  margin: 15px 0;
  padding-top: 10px;
}
section.bots h5 {
  font-size: 22px;
  line-height: 1.7;
  font-weight: 400;
  width: 80%;
  margin: 0 auto;
  max-width: 70%;
}
section#access {
  background: #fff;
  height: auto;
  padding: 100px 0 130px 0;
}
section#access input.signup-input-2 {
  border: 1px solid #ccc;
}
.seperator {
  width: 85%;
  margin: 15px auto;
  height: 1px;
  background: black;
  opacity: .15;
  border-radius: 100%!important;
}
.ion-ios-arrow-left {
  position: absolute;
  left: 5%;
  top: 0;
  bottom: 0;
}
.ion-ios-arrow-right {
  position: absolute;
  right: 5%;
  top: 0;
  bottom: 0;
}
.ion-ios-arrow-right, .ion-ios-arrow-left {
  font-size: 50px;
  top: 42%;
  color: rgba(18, 115, 188, 1);
  z-index: 90;
}
#demo a.left {
  display: inline-block;
}
#demo {
  background: #fff;
  height: 700px;
  position: relative;
  padding-bottom: 120px;
  z-index: 0;
  overflow: hidden;
}
#demo h1, #demo h3 {
  font-weight: 400;
}
#demo .carousel {}
#demo h3 {
  margin: 15px auto;
}
section#carousel .seperator {
  opacity: .5;
  margin: 0 auto 20px auto!important;
}
section.bots .seperator {
  background: white;
  margin-bottom: 15px;
}
footer {
  background: #2b303b;
  padding: 25px 0;
}
footer p {
  color: white;
}
footer a {
  color: white;
}
.circle {
  border: 3px solid #fff;
  width: 120px;
  margin: 0 auto;
  height: 120px;
  border-radius: 120px;
  position: relative;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .35);
}
section.bots .circle {
  padding-top: 22px;
}
section.bots h3 {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .35);
}
section#reach .circle {
  width: 90px;
  border: 2px solid white;
  height: 90px;
}
section#reach .circle img.bolt {
  position: absolute;
  width: 40px;
  left: 0;
  right: 0;
  top: 20px;
  margin: 0 auto;
  height: auto;
}
section#reach {
  background: transparent;
  margin-top: 60px;
  padding-top: 40px;
  padding-bottom: 0;
}
section#reach h3, section#reach p {
  color: white;
  font-weight: 400;
}
section#reach p {
  width: 80%;
  font-size: 17px;
  padding-top: 10px;
  margin: 0 auto;
  line-height: 1.7;
  opacity: .8;
}
section#reach h3 {
  font-family: "Myriad Pro", Arial;
  margin-bottom: 0;
  margin-top: 20px;
}
#particles-js {
  /*background: rgba(18, 115, 188, 1);*/
  background: linear-gradient(110deg, rgba(18, 115, 188, .850), rgba(18, 115, 188, 1));
  /*background: linear-gradient(180deg, rgba(18, 115, 188, 1), rgba(18, 115, 188, .65));*/
}
#reach {
  /*background: rgba(18, 115, 188, 1);*/
  /*background: linear-gradient(180deg, rgba(18, 115, 188, .65), rgba(18, 115, 188, 1));*/
  padding: 20px 0 60px 0;
}
#reach .request-demo {
  position: absolute;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  bottom: 5%;
  z-index: 10;
  font-weight: 600;
  font-size: 18px;
}
#reach .request-demo-row {
  margin-top: 40px;
  text-align: center;
}
#reach .request-demo-row a {
  color: white;
}
#hero .demo-row .signup-input {
  margin: 15px 0 15px 2px;
}
#hero .demo-row .signup-input:first-child, #access .demo-row-2 .signup-input-2:first-child {
  margin-top: 35px;
}
#carousel {
  padding-top: 60px;
}
#carousel h1 {
  /*background: red;*/
  /*padding-bottom: 25px;*/
}
#carousel h1, #carousel h3 {
  width: 80%;
  margin: 0 auto;
}
#carousel h3 {
  min-height: 100px;
  padding-bottom: 20px;
  line-height: 1.4;
}
canvas.particles-js-canvas-el {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
}
section#explore {
  background: #2b303b;
  padding: 60px 0 120px 0;
}
section#explore .col-sm-4 {
  position: relative;
  min-height: 270px;
  padding-top: 70px;
}
section#explore h1 {
  color: white;
  font-weight: 400;
}
section#explore h3 {
  text-align: center;
  color: white;
  font-family: "Myriad Pro", Arial;
}
section#explore p {
  color: #9da5b0;
  font-weight: 400;
  line-height: 1.9;
}
section#explore p {
  width: 90%;
  margin: 0 auto;
}
section#explore img {
  width: 60px;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
section#explore .seperator {
  margin: 30px auto 50px auto;
  background: white;
  opacity: .3;
  width: 75%!important;
}
section#explore .control {
  width: 52px;
  top: 8px;
}
*, *:after, *:before {
  box-sizing: border-box;
}
.left .iphone, .right .iphone {
  display: none;
}
.left h3, .right h3 {
  display: none;
}
#demo .active .iphone {
  animation: fadeIn 1s;
}
#demo .active h3 {
  animation: fadeInDown .5s;
}
.iphone {
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #999, 0 0 30px 0px rgba(0, 0, 0, 0.245);
  border: 5px solid #d9dbdc;
  background: #f8f8f8;
  padding: 15px;
  border-radius: 50px;
  height: 877px;
  width: 423px;
  position: relative;
  margin: -80px auto 30px auto;
  -webkit-transform: scale(.75);
  transform: scale(.83);
  animation: fadeIn 1s;
}
.iphone-top {
  padding: 5px 110px 40px;
  position: relative;
}
.iphone-top .speaker {
  display: block;
  width: 70px;
  height: 6px;
  margin: 0 auto;
  border-radius: 6px;
  background: #292728;
}
.iphone-top .camera {
  display: block;
  margin: 0 auto;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-bottom: 13px;
  background: #333;
}
.iphone-top .sensor {
  display: block;
  width: 15px;
  height: 15px;
  float: left;
  background: #333;
  margin-top: -5px;
  border-radius: 50%;
}
.top-bar, .bottom-bar {
  display: block;
  width: 423px;
  height: 15px;
  border-left: 5px solid #BBB;
  border-right: 5px solid #BBB;
  position: absolute;
  left: -5px;
}
.top-bar {
  top: 65px;
}
.bottom-bar {
  bottom: 65px;
}
.iphone-screen {
  background: #eee;
  border: 1px solid #fff;
  height: 677px;
  width: 375px;
  margin: 0 auto;
  border: 2px solid rgba(0, 0, 0, 0.9);
  border-radius: 3px;
  overflow: hidden;
}
.iphone-screen img {
  width: 100%;
}
.iphone-screen .iphone-msg:first-child {
  margin-top: 40px;
}
.iphone-screen .iphone-msg {
  font-size: 17px;
  padding: 5px 10px;
  border-radius: 120px;
  background: #ccc;
  display: inline-block;
}
.buttons .on-off, .buttons .up, .buttons .down, .buttons .sleep {
  display: block;
  background: #CCC;
  position: absolute;
  border-radius: 2px 0px 0px 2px;
}
.buttons .on-off {
  height: 40px;
  width: 3px;
  top: 100px;
  left: -8px;
}
.buttons .up, .buttons .down, .buttons .sleep {
  height: 60px;
  width: 5px;
  left: -10px;
}
.buttons .up {
  top: 170px;
}
.buttons .down {
  top: 250px;
}
.buttons .sleep {
  left: auto;
  right: -10px;
  top: 170px;
  border-radius: 0px 2px 2px 0px;
}
.iphone-bottom {
  padding: 10px 0 0;
}
.iphone-bottom span {
  display: block;
  margin: 0 auto;
  width: 68px;
  height: 68px;
  background: #ccc;
  border-radius: 50%;
  background: -webkit-linear-gradient(315deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
  background: linear-gradient(135deg, #303233 0%, #b5b7b9 50%, #f0f2f2 69%, #303233 100%);
  position: relative;
}
.iphone-bottom span:after {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 4px;
  top: 4px;
}
.commentArea {
  font: 14px Arial;
  padding: 0 10px;
  margin-top: 20px;
}
.bubbledLeft, .bubbledRight {
  margin-top: 20px;
  padding: 5px 9px;
  max-width: 50%;
  clear: both;
  position: relative;
}
.bubbledLeft {
  float: left;
  margin-right: auto;
  -webkit-border-radius: 8px 8px 8px 0px;
  -moz-border-radius: 8px 8px 8px 0px;
  -o-border-radius: 8px 8px 8px 0px;
  -ms-border-radius: 8px 8px 8px 0px;
  border-radius: 8px 8px 8px 0px;
  background-color: #65B045;
  color: #ffffff;
}
.bubbledLeft:before {
  border-bottom: 10px solid #65B045;
  border-left: 9px solid rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 0;
  left: -8px;
  content: "";
}
.bubbledRight {
  float: right;
  margin-left: auto;
  text-align: right;
  -webkit-border-radius: 8px 8px 0px 8px;
  -moz-border-radius: 8px 8px 0px 8px;
  -o-border-radius: 8px 8px 0px 8px;
  -ms-border-radius: 8px 8px 0px 8px;
  border-radius: 8px 8px 0px 8px;
  background-color: #07D;
  color: white;
}
.bubbledRight:before {
  border-bottom: 9px solid #07D;
  border-right: 9px solid rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 0;
  right: -8px;
  content: "";
}
#access .demo-btn-2 {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 20px;
  width: 180px;
  z-index: 90;
  /*display: none;*/
}
a#formValidation2 {
  display: none;
}

img.lumin-logo {
  width: 50px;
  margin-top: 10px;
  height: auto;
  position: absolute;
  z-index: 90;
}
.logo-row {
  z-index: 90;
  display: block;
  margin-bottom: 100px;

  text-shadow: 0px 1px 1px black;
}

.logo-row span {
  font-size: 37px;
  position:absolute;
  z-index: 900;
  margin-left: 63px;
  padding-top: 10px;
  color: white;
}
nav.navbar {
  margin-bottom: 0;
  margin-top: 0;
}

.active a#formValidation2 {
  display: block;
  width: 170px;
  margin: 30px auto 0 auto;
}
#access .active .demo-btn-2 {
  display: block;
}
input.signup-btn, input.signup-btn-2 {
  display: inline-block;
  background: rgba(18, 115, 188, 1);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  border: 0;
}
@media(max-width: 991px) {
  #demo h1, #demo h3 {
    width: 95%;
    margin: 0 auto;
  }
  #hero h1, #hero h3 {
    width: 80%;
    text-align: center;
    margin: 20px auto;
  }
  section.bots h2 {
    width: 85%;
    margin: 10px auto 0 auto;
  }
  .logo-row {

    margin: 0 auto 40px auto;
    text-align: center;
    font-size: 20px;

  }
  .logo-row span {
    position: relative;
  }
  img.lumin-logo {
    margin-top: 0;
  }

  section#reach p {
    margin: 10px auto 90px auto;
  }
  #hero .signup-input, #access .signup-input-2 {
    width: 80%;
    margin: 20px auto!important;
  }
  #hero a, #access a {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    margin: 15px auto 10px auto;
    width: 230px;
  }
  #explore h3 {
    /*background: red;*/
    width: 80%;
    margin: 15px auto;
  }
  #explore p {
    width: 75%!important;
    margin: 0 auto;
  }
}
@media(max-width: 601px) {
  section#hero {
    padding-top: 40px;
  }
}
