/* font colorrr #565a5c*/


/* border colorrr #aaa */

.red {
  background: red;
}
.blue {
  background: blue;
}
body {
  font-family: 'Open sans', sans-serif;
}
#hero {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding: 245px 0;
  background: rgba(18, 115, 188, .8);
  /*background:red url(''../img/hero-bk.jpg) no-repeat left top;*/
  /*background:rgba(255, 0, 0, 0.5), url(../img/hero-bk.jpg) no-repeat left top;*/
  background-repeat: no-repeat;
  background-size: cover;
}

#hero .container h1 {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.black-bk-overlay {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  z-index: 1;
  right: 0;
  height: 500px;
  left: 0;
  width: 100%;
}
#hero h1 {
  color: white;
  max-width: 55%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.3;
  z-index: 90;
  font-weight: 400;
  font-size: 44px;
}
#hero h1.hero {
  font-weight: 600;

}
#hero h2 {
  color: white;
  font-weight: 400!important;
  width: 60%;
  line-height: 1.2;
  margin:35px auto;
  font-size: 23px;
  letter-spacing:normal;
}
#hero .mini-nav li a.active::before {
  position: absolute;
  content: '';
  bottom: -14px;
  left: 0px;
  right: 0px;
  height: 4px;
  background: #fff;
}
#hero .seperator {
  width: 65%;
  -webkit-border-radius: 120px;
  border-radius: 120px;
  margin: 15px auto;
  background: white;
  height: 1px;
  opacity: .5;
}
.apply .cta-btn {
  background: white;
  color: #565a5c;
  display: inline-block;
  width: 300px;
  padding: 10px 0;
  margin: 0 auto;
  margin-top: 40px;
  border: 1px solid #aaa;
  ;
  border-radius: 3px;
  text-decoration: none;
}

#footer ul.social {
  width: 600px;
  padding: 10px 0;
  margin: 0 auto;
}
#footer ul.social li {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, .2);
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 120px;
  margin: 10px 5px;
}


.coming-soon a {
  font-size: 20px;
  /*color: rgba(18, 115, 188, 1);
  border: 2px solid rgba(18, 115, 188, 1);*/
  color: white;
  border: 2px solid #fff;
  padding: 10px 30px;
  border-radius: 14px;
  margin-top: 20px;
  text-decoration: none;
  display: inline-block;
}

.coming-soon a:hover {
  color: white;
  border-color: white;
}
